---
layout: layouts/home.njk
title: "Break into Freelance: A beginner’s guide to freelancing for UX/UI designers"
---

<section class="hero">

	<div class="eyebrow">Freelancing for designers</div>


	<div class="grid">

		<div class="product">
			<div class="product__inner">
			<script async type="module" src="https://unpkg.com/@splinetool/viewer@0.9.418/build/spline-viewer.js"></script>
			<spline-viewer loading-anim url="https://prod.spline.design/gGKbP3rqRinhYt2h/scene.splinecode"></spline-viewer>
			</div>
		</div>

		<div class="hero-text">
			<div class="main-headline__container">
				<div class="main-headline__container-inner">
					<h1 class="main-headline" data-text="Make extra money freelancing">Make extra money freelancing</h1>
				</div>
			</div>
			<div class="subheadline__container">
				<h2 class="subheadline">A beginner’s guide for UX/UI designers</h3>
				<div class="badge">
					<p><span>Available</span> <span>soonish!</span></p>
				</div>
			</div>
		</div>

	</div>

	<div class="testimonial">
		<p>“Omg this seems so doable now! I’ve been so confused how to get started… so much more simple than I expected.”</p> <p>—Rachel D.</p>
	</div>

</section>

<!-- <section class="main-copy">
	<h2>Learn the fundamentals of freelancing from a veteran freelancer.</h2>
</section> -->

<section class="lessons">
	<div class="section__inner">

		<h2 class="section__header">What will you learn?</h2>

		<ul class="lesson-list">
			<li>Your portfolio website</li>
			<li>"What do you charge?"</li>
			<li>Dealing with unreasonable requests</li>
			<li>Getting paid (invoices and payments)</li>
			<li>What does it mean to "look hirable?"</li>
			<li>Types of freelancing projects and clients</li>
			<li>Marketplaces and job boards</li>
			<li>Common freelancing myths</li>
			<li>Start as a side hustle</li>
			<li>Do you need to niche down?</li>
			<li>Should I use my real name or create a brand name?</li>
			<li>Your LinkedIn profile</li>
			<li>Cold emailing</li>
			<li>Online communities and watering holes</li>
			<li>Why freelance?</li>
			<li>Recruiters and talent agencies</li>
			<li>Discounts and working for free</li>
			<li>Never work without a contract</li>
			<li>Master Services Agreements</li>
			<li>...and more</li>
		</ul>
		
	</div>
</section>


<section class="coming-soon">
	<div class="coming-soon__doodle"></div>
	<div class="coming-soon__body">
		<div class="coming-soon__inner">
			<h2 class="coming-soon__header">Coming soon</h2>
			<p>Learn a proven process to go from dreaming about freelancing to landing your first UX/UI clients. Drop your email to be one of the first to know when it's available for sale.</p>
			<div class="form-container">
				<substack-form
					domain="newsletter.joshwayne.com/"
					max-width="100%"
					input="Email"
					submit="Join the waitlist"
				>
				</substack-form>
			</div>
		</div>
	</div>
</section>
