---
layout: layouts/home.njk
title: 🔴 Break into freelancing
---

<div>
	<div class="eyebrow">Freelancing for designers</div>
</div>

<div class="grid">

	<div>
		<h1 class="main-headline">Break free from your 9-5 job</h1>
		<h3>The guide for UI/UX Designers</h3>
	</div>

	<div class="badge">
		Available soonish!
	</div>
</div>


<div class="testimonial">
	"Omg this seems so doable now! I've been so confused on what to do… so much more simple than I expected." —Rachel D.
</div>