---
layout: layouts/home.njk
title: "Break into Freelance: A beginner’s guide to freelancing for UX/UI designers"
---

<section class="hero">
	<div class="eyebrow">Freelancing for designers</div>
	<div class="grid">

		<div class="product">
			<div class="product__inner">
				<script type="module" src="https://unpkg.com/@splinetool/viewer@0.9.425/build/spline-viewer.js"></script>
				<spline-viewer loading-anim url="https://prod.spline.design/gGKbP3rqRinhYt2h/scene.splinecode"></spline-viewer>
			</div>
		</div>

		<div class="hero-text">
			<div class="main-headline__container">
				<div class="main-headline__container-inner">
					<h1 class="main-headline" data-text="Make extra money freelancing">Make extra money freelancing</h1>
				</div>
			</div>
			<div class="subheadline__container">
				<h2 class="subheadline">A beginner’s guide for UX/UI designers</h3>
				<div class="badge">
					<p><span>Available</span> <span>now!</span></p>
				</div>
			</div>
		</div>

	</div>

</section>

<section class="main-copy">
	<div class="section__inner">
		<a class="button inverse" href="https://learn.joshwayne.com/purchase?product_id=4970952">Shut up and take my money!</a>

		<h2 class="main-copy__header">Have you thought about freelancing but haven’t worked up the momentum to start?</h2>

		<div class="main-copy__body">
			<p>Maybe you tried freelancing when a friend sent you a project. You knocked it out on nights and weekends, collected the first payment that wasn’t your paycheck, and thought “Wow, I think I can do this.”</p>


			<p>But a one-off project is far from a sustainable freelancing business. And figuring out how to freelance for real is an easy way to get overwhelmed at the sheer number of things you have to do.</p>

			<ul class="questions">
				<li class="question">How do I write my contracts?</li>
				<li class="question">How do I send invoices?</li>
				<li class="question">Do I need an S-Corp?</li>
				<li class="question">What about LLCs?</li>
				<li class="question">How do I promote myself?</li>
				<li class="question">Am I going to get screwed on taxes?</li>
				<li class="question">What if I go broke?</li>
			</ul>

			<p>Try googling how to do any of it and you’ll get dozens of conflicting answers and even more things to add to
				your growing to do list.</p>

			<p>“You have to do this!”</p>

			<p>“Freelancers should never do that!”</p>

			<p>“Any freelancer who doesn’t do this is going to fail!”</p>

			<p>It’s overwhelming. What’s real and what’s fluff? What do you <em>actually</em> need to do to start freelancing?
			</p>

		</div>

		<h2 class="main-copy__header">Learn the fundamentals of freelancing from a veteran freelancer.</h2>

		<div class="main-copy__body">
			<p>I quit my job and started freelancing 9 years ago. Since then I’ve consumed hundreds of courses, books,
				articles, videos, and more to learn how to freelance.</p>

			<p>I learned two things:</p>

			<ol>
				<li>Most “freelance gurus” have <em>never freelanced</em> or have freelanced for less than a year and think they
					found some undiscovered secret method to success (they didn’t).</li>
				<li>Most of of the things people say you “have to do” aren’t things you need to worry about until much later (if
					at all).</li>
			</ol>

			<p>The things you have to do to start freelancing isn’t that complicated. Once you cut through the noise, it
				doesn’t seem all that daunting.</p>


		</div>

		<blockquote class="testimonial">
			<p>“Omg this seems so doable now! I’ve been so confused how to get started… so much more simple than I expected.”
			</p>
			<p>—Rachel D.</p>
		</blockquote>

		<h2 class="main-copy__header">I believe learning how to freelance is life changing.</h2>

		<div class="main-copy__body">
			<p>Freelancing teaches you:</p>

			<ul>
				<li>How to take control of your income</li>
				<li>That you don&#8217;t have to rely completely on a boss or a job to make money</li>
				<li>How to make a few thousand on the side instead of cutting back on lattes</li>
				<li>The fundamentals of starting and running a business</li>
				<li>And that you can quit your job and work for yourself</li>
			</ul>

			<p>I&#8217;ve helped dozens of designers learn how to start freelancing and build a more sustainable freelancing
				business.</p>
		</div>

		<h2 class="main-copy__header">That’s why I created Break into Freelance Design.</h2>

		<div class="main-copy__body">
			<p>This course is what I’ve learned in my 9 years as a freelance designer. I learned the hard way and now you
				don’t have to. I figured out what works and what doesn’t by learning and trying out a lot of things.</p>

			<p>After taking this course you’ll…</p>

			<h3>Discover the best places to find clients</h3>
			<p>You’ll understand why freelance marketplaces are often a waste of time and learn the best places to find high paying projects without sending out dozens of proposals.</p>

			<h3>Develop a system for finding new clients</h3>
			<p>You’ll learn my method for finding and reaching out to potential clients. You’ll have my tested email templates that successfully convert potential clients to real projects.</p>

			<h3>Take guilt free vacations</h3>
			<p>Freelancing isn’t about hustling until you drop from exhaustion. You’ll learn how I designed my business to allow me to take 2 months off every year to travel and recharge.</p>

			<h3>Optimized your portfolio</h3>
			<p>You’ll understand what potential clients look for in a portfolio and know how to optimize your website and LinkedIn to get you projects.</p>

			<h3>Convert one time projects into repeat work</h3>
			<p>You’ll have strategies and templates for turning one time projects into repeat clients who are happy to send you work for years.</p>

			<h3>Scale your freelancing</h3>
			<p>You’ll know how to scale up your business to go from side hustle to full time and how to scale down your business and turn down projects without closing yourself off to future work.</p>
		</div>
	</div>
</section>

<section class="lessons">
	<div class="section__inner">

		<h2 class="section__header">What will you learn?</h2>

		<ul class="lesson-list">
			<li>Your portfolio website</li>
			<li>"What do you charge?"</li>
			<li>Dealing with unreasonable requests</li>
			<li>Getting paid (invoices and payments)</li>
			<li>What does it mean to "look hirable?"</li>
			<li>Types of freelancing projects and clients</li>
			<li>Marketplaces and job boards</li>
			<li>Common freelancing myths</li>
			<li>Start as a side hustle</li>
			<li>Do you need to niche down?</li>
			<li>Should I use my real name or create a brand name?</li>
			<li>Your LinkedIn profile</li>
			<li>Cold emailing</li>
			<li>Online communities and watering holes</li>
			<li>Why freelance?</li>
			<li>Recruiters and talent agencies</li>
			<li>Discounts and working for free</li>
			<li>Never work without a contract</li>
			<li>Master Services Agreements</li>
			<li>...and more</li>
		</ul>

	</div>
</section>

<section class="about">
	<div class="section__inner">
		<h2 class="section__header">Who teaches this?</h2>

		<div class="about__sections">
			<div class="about__photo">
				<div class="about__photo-inner">
					<img src="/img/headshot.jpg" alt="Photo of Josh Wayne">
				</div>
			</div>
			
			<div class="about__copy">
				<p>Hi, I’m Josh Wayne. I’m a UX/Product Designer with over 16 years of experience working with everything from Fortune 500 companies, to startups, to nonprofits. I love designing and teaching. My goal is to help more designers find create freedom and flexibility in their work.</p>
				
				<p>9 years ago, I burned out. Despite my great coworkers and interesting projects, I found myself laying in bed in the morning dreading going to work. I told my boss I needed a break, bought a one way ticket to the other side of the world, and spent 3 months traveling while I figured out what I wanted to do with my life.</p>
				
				<p>On my flight home I made a decision: I was on a career path I didn’t want. I decided I was going to take control of my career, quit my job, and freelance full time.</p>
				
				<p>That first year I increased my income by 20%. Since then, I’ve made thousands more than old job while doing projects for companies like Google, Kaiser Permanente, DaVita, Bank of America, and more.</p>
				
				<p>Most designers don’t know how to start freelancing. They read dozens of blog posts and hear all the freelancing horror stories and still don’t feel confident they can make it freelancing.</p>
				
				<p>In this course, I’m sharing everything I’ve learned in my 9 years of freelancing. I’m sharing all the strategies, mistakes, lessons, and tactics to help other designers learn how to freelance so they can take control over their income, escape the 9 to 5, or just make a few extra bucks on the side.</p>
			</div>
		</div>
		<blockquote class="testimonial">
			<p>“Josh knows his stuff. His thoughts and strategies are insightful, useful, and relevant. He walks the talk in managing the different pressures and challenges of freelancing.”
			</p>
			<p>—Sung Yi</p>
		</blockquote>
	</div>
</section>


<section class="cta">
	<div class="cta__doodle"></div>
	<div class="cta__body">
		<div class="cta__inner">

			<div class="cta__header__container">
				<div class="cta__header__container-inner">
					<h2 class="cta__header" data-text="Start learning now">Start learning now</h2>
					<div class="cta__accent-top"></div>
					<div class="cta__accent-bottom"></div>
				</div>
			</div>

			<div class="cta-box">
				<h3 class="cta-box__header">Lifetime access to the course</h3>
				<ul class="included-list">
					<li>Access to all 30 audio/video lessons</li>
					<li>Resources and templates</li>
					<li>Free updates for life</li>
				</ul>
				<a class="button" href="https://learn.joshwayne.com/purchase?product_id=4970952">Get the course for $80</a>
				<div class="avatar-red"></div>
			</div>
		</div>
		<div class="faqs">
			<h2 class="main-copy__header">I still have questions...</h2>
			<h3 class="question">What's the format of the course?</h3>
			<div class="answer">
				<p>The course is 90% audio lessons with some video lessons too. Think of it as a high value audiobook. I designed it this way to make it as easy as possible to finish the course and start applying the lessons.</p>
				<p>I've taken a lot of courses and I found a lot of them had visuals that didn't add anything to the course but forced me to sit at my computer to go through the lessons. So open the course on your phone, put in some headphones, and go for a walk. <a href="https://www.psychologytoday.com/us/blog/experience-engineering/202001/how-walking-enhances-cognitive-performance">Scientific studies</a> suggest you'll <a href="https://pubmed.ncbi.nlm.nih.gov/34050033/">learn and retain more</a>.</p>
			</div>
			<h3 class="question">What experience do I need?</h3>
			<div class="answer">
				<p>No freelancing experience at all. However, this course is limited to UX/UI Designers who have at least a year of experience working as a designer. I focused this course on teaching how to apply your design skills towards freelancing, not teaching how to be a designer.</p>
			</div>
			<h3 class="question">Can I sign up if I want to freelance doing something else?</h3>
			<div class="answer">
				<p>I don't recommend it. While most of the course can be applied to any domain, my goal is to deliver as much as much value as possible. So I've decided to focus the course on on UX/UI Design only.</p>
			</div>
			<h3 class="question">What’s the refund policy?</h3>
			<div class="answer">
				<p>If you're not happy with the course, I'll give you 100% of your money back, no questions asked.</p>
					
				<p>(Well I mean, I might ask you why but I won't like, try to change your mind or anything. More out of curiousity. And because I plan to update the course to make it better. So yeah, maybe a question or two.)</p>
			</div>
			<h3 class="question">Why the low price? What's your game here?</h3>
			<div class="answer">
				<p>I remember what it felt like to start freelancing. Making enough money was a major worry.</p>
					
				<p>I created this course to focus on being as valuable as possible to first time freelancers. That meant ditching the high production studio, video editor, and all the other costs that would jack up the price into the thousands. I focused on the UX of you getting this information and applying it quickly. That's my game. Pinky swear.</p>
			</div>

			<a class="button" href="https://learn.joshwayne.com/purchase?product_id=4970952">Alright, I'm sold.</a>

		</div>

		<div class="legal">You look nice today. <img src="/img/icon-heart.svg" alt=""> &copy; 2023 Uncommon Sense LLC. All rights reserved.</div>

	</div>
</section>
