<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<meta name="generator" content="{{ eleventy.generator }}">

		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://breakintofreelance.design/">
		<meta property="og:title" content="Break into Freelance: A beginner’s guide to freelancing for UX/UI designers">
		<meta property="og:description" content="Break into freelance is a beginner’s guide to freelancing for UX/UI designers.">
		<meta property="og:image" content="https://breakintofreelance.design/social.png">

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="breakintofreelance.design">
		<meta property="twitter:url" content="https://breakintofreelance.design/">
		<meta name="twitter:title" content="Break into Freelance: A beginner’s guide to freelancing for UX/UI designers">
		<meta name="twitter:description" content="Break into freelance is a beginner’s guide to freelancing for UX/UI designers.">
		<meta name="twitter:image" content="https://breakintofreelance.design/social.png">

		<link rel="stylesheet" href="{{ '/css/index.css' | url }}">

		<script src="/js/substackForm.js"></script>

		<script defer data-domain="breakintofreelance.design" src="/js/script.js"></script>
		<script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>

	</head>
	<body>

		<main>
			{{ content | safe }}
		</main>


		<!-- Current page: {{ page.url | htmlBaseUrl }} -->
	</body>
</html>
