:root {
  font-size: 16px;
  line-height: 1.5em;
  --narrow: "Soehne", monospace;
  --blocky: "National", serif;
  --base: calc(100vw / 1280 * 10);
  --max-width: 80rem;
  --medium-width: 60rem;
  --readable-width: 40em;
  --red: rgba(233, 3, 3, 1);
	--blue: rgba(41, 47, 100, 1);
	--tan: rgba(245, 237, 216, 1);

	/* Theme colors */

	--color-gray-20: #e0e0e0;
	--color-gray-50: #C0C0C0;
	--color-gray-90: #333;
	
	--background-color: #fff;
	
	--text-color: var(--color-gray-90);
	--text-color-link: #082840;
	--text-color-link-active: #5f2b48;
	--text-color-link-visited: #17050F;
	
	--syntax-tab-size: 2;
}

@font-face {
  font-family: "Soehne";
  src: url("/css/soehne-schmal-halbfett.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "National";
  src: url("national-2-black.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "National";
  src: url("national-2-medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@function rem($size) {
  @return #{calc($size / 16)+rem};
}
 
@function base($size) {
  @return #{calc(var(--base) / 10 * $size)};
}
 
@function range($size, $min) {
  @return clamp(
    #{rem($min)},
    #{base($size)},
    #{rem($size)}
  );
}


/* Global stylesheet */
* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--tan);
}

html {
	overflow-y: scroll;
}


/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.hero {
	display: flex;
  flex-direction: column;
  height: 100vh;
	padding: 2%;
}

.eyebrow {
	font-family: var(--narrow);
	text-transform: uppercase;
	text-overflow: clip;
	line-height: 0.8em;
	text-align: center;
	font-size: 12.6vw;
	letter-spacing: 0.02em;
	color: var(--red);
	flex: 0 0 auto;
}

.grid {
	background: transparent url(/img/grid.svg) no-repeat;
	background-size: cover;
	margin: 2%;
	flex: 1 0 0;
	display: flex;
	flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  gap: 1rem;
}

.product {
	background: transparent url(/img/product.svg) no-repeat center;
	background-size: contain;
	flex: 1;
	margin: -80px;
}

.hero-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
  justify-content: center;
	margin-right: -80px;
}

.main-headline_container {
	padding: 40px;
	background-color: var(--blue);
	// transform: skew(0deg, -18deg);
	transform: matrix(0.98, -0.22, 0, 1, 0, 0);
	border-radius: 40px;
	border: 8px var(--tan) solid;
	display: inline-block;
}

.main-headline_container-inner {
	position: relative;
}

.main-headline {
	font-family: var(--narrow);
	text-transform: uppercase;
	font-size: 7vw;
	padding: 0;
	margin: 0;
	line-height: 1em;
	display: inline-block;
	color: var(--tan);
	letter-spacing: 0.02em;
}

.main-headline:after {
	content: attr(data-text);

  position: absolute;
  left: 0;
  z-index: -1;
	
  /* visible stroke is 10px because of alignment */
  -webkit-text-stroke: 0.1em var(--blue);
	text-shadow: 0px 0.1em 0px rgba(245, 236, 212, 0.3); /* offset-x | offset-y | blur-radius | color */

  /* is sized relative to h1 */
  font-size: 1em;
}

.subheadline_container {
	padding: 20px;
	background-color: var(--tan);
	transform: matrix(0.98, -0.22, 0, 1, 0, 0);
	border-radius: 40px;
	border: 8px var(--blue) solid;
	display: inline-block;
}

.subheadline {
	font-family: var(--narrow);
	text-transform: uppercase;
	font-size: 4vw;
	padding: 0;
	margin: 0;
	line-height: 1em;
	display: inline-block;
	color: var(--blue);
	letter-spacing: 0.02em;
}

.testimonial {
  flex: 0 0 auto;
	font-family: var(--blocky);
	color: var(--red);
	font-size: 1.5vw;
	font-weight: bold;
	text-align: center;
	line-height: 1.2em;
	letter-spacing: 0.02em;

	p {
		padding: 0;
		margin: 0;
	}
}