:root {
	font-size: 16px;
	line-height: 1.5em;
	--narrow: "Soehne", monospace;
	--blocky: "National", serif;
	--rounded: "Fraiche", serif;
	--base: calc(100vw / 4000 * 10);
	--red: rgba(233, 3, 3, 1);
	--blue: rgba(41, 47, 100, 1);
	--tan: rgba(245, 237, 216, 1);
}


@font-face {
  font-family: "Soehne";
  src: url("/css/soehne-schmal-halbfett.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "National";
  src: url("national-2-black.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "National";
  src: url("national-2-medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fraiche";
  src: url("Fraiche.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@function rem($size) {
  @return #{calc($size / 16)+rem};
}
 
@function base($size) {
  @return #{calc(var(--base) / 10 * $size)};
}
 
@function range($size, $min) {
  @return clamp(
    #{rem($min)},
    #{base($size)},
    #{rem($size)}
  );
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	background: var(--tan);
	color: var(--text-color);
	font-family: var(--font-family);
	padding: 0;
	margin: 0 auto;
}

.hero {
	display: flex;
  flex-direction: column;
	padding: 1% 2% 4%;
	position: sticky;
	top: 0px;
	min-height: 100vh;
}

.eyebrow {
	color: var(--red);
	flex: 0 0 auto;
	font-family: var(--blocky);
	font-size: range(234, 16);
	font-weight: bold;
	line-height: 0.8em;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	text-align: center;
}

.grid {
	background: transparent url(/img/grid.svg) no-repeat;
	background-size: contain;
	margin: 1% 5% 2%;
	width: 90%;
	display: flex;
	flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: stretch;
	aspect-ratio: 2 / 1;
	position: relative;
}

.product {
	background: transparent url(/img/product.svg) no-repeat center;
	background-size: contain;
	flex-basis: 48%;
	margin: -5vw 0 -3vw -4vw;
	z-index: 5;
}

.product__inner {
	height: 100%;
	padding-bottom: range(200, 40);
}

.hero-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
  justify-content: center;
	margin-right: -3vw;
	margin-left: -4vw;
	flex-basis: 64.5%;
	position: relative;
	margin-bottom: 7vw;
}

.main-headline__container {
	font-size: range(180, 40);
	background-color: var(--blue);
	border: range(23, 4) var(--tan) solid;
	border-radius: 0.5em;
	display: inline-block;
	padding: 0.4em 0.8em;
	transform: matrix(0.98, -0.22, 0, 1, 0, 0);
	z-index: 2;
}

.main-headline__container-inner {
	position: relative;
}

.main-headline {
	font-family: var(--narrow);
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	line-height: 1em;
	display: inline-block;
	color: var(--tan);
	letter-spacing: 0.02em;
	padding-bottom: 0.05em;
	position: relative;
}

.main-headline:before {
	content: attr(data-text);

  position: absolute;
  left: 0;
	top: 0;
  z-index: -1;
	
  -webkit-text-stroke: none;
	text-shadow: 0px 0.1em 0px #666886; /* offset-x | offset-y | blur-radius | color */

  /* is sized relative to h1 */
  font-size: 1em;
}

.main-headline:after {
	content: attr(data-text);

  position: absolute;
  left: 0;
	top: 0;
  z-index: -1;
	
  -webkit-text-stroke: 0.1em var(--blue);

  /* is sized relative to h1 */
  font-size: 1em;
}

.subheadline__container {
	background-color: var(--tan);
	border: 0.16em var(--blue) solid;
	border-radius: 0.2em;
	font-size: range(140, 20);
	line-height: 0.8em;
	margin-left: 0.6em;
	margin-top: -0.3em;
	padding: 0.3em 0.5em;
	transform: matrix(0.98, -0.22, 0, 1, 0, 0);
	z-index: 3;
	position: relative;
}

.subheadline {
	font-family: var(--narrow);
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	padding-bottom: 0.05em;
	display: inline-block;
	color: var(--blue);
	letter-spacing: 0.02em;
}

.badge {
	align-items: center;
	background: transparent url(/img/badge.svg) no-repeat center center;
	background-size: contain;
	color: var(--tan);
	display: flex;
	justify-content: center;
	position: absolute;
	left: 50%;
	top: 82%;
	aspect-ratio: 1 / 1;
	font-size: range(50,14);
	line-height: 1.2em;
	letter-spacing: 0.05em;
	padding: 1.5em;
	font-family: var(--rounded);
	text-transform: uppercase;
	// transform: rotate(9deg);
	transform: matrix(1, 0.22, 0, 1, 0, 0) rotate(9deg);
	z-index: 4;

	span {
		display: block;
		text-align: center;
		margin: 0;
	}
}

.testimonial {
  flex: 0 0 auto;
	font-family: var(--blocky);
	color: var(--red);
	font-size: range(100, 24);
	font-weight: bold;
	text-align: center;
	line-height: 1.2em;
	letter-spacing: 0.02em;

	p {
		padding: 0;
		margin: 0;
	}
}


.coming-soon {
	min-height: 104vh;
	z-index: 100;
	position: sticky;
	top: 0px;
	display: flex;
	align-items: stretch;
	justify-content: stretch;
	flex-direction: column;
}

.coming-soon__doodle {
	background: transparent url(/img/coming-soon.svg) repeat-x top;
	height: range(60, 30);
	width: 100%;
}

.coming-soon__body {
	background-color: var(--red);
	padding: range(200, 40);
	flex: 1 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.coming-soon__inner {
	max-width: range(3000, 400);
	text-align: center;
	margin: 0 auto;
	font-family: var(--blocky);
	color: var(--tan);
	font-size: range(90, 16);
	line-height: 1.4em;
}

.coming-soon__header {
	text-transform: uppercase;
	font-size: range(320, 42);
	letter-spacing: 0.02em;
	line-height: 1em;
	margin-bottom: range(48, 16);
}

.form-container {
	margin-top: range(200, 40);
}

.form__inner {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	max-width: var(--max-width);
	margin-inline: auto;
	align-items: baseline;
	justify-content: space-between;
}

.form__inner > :first-child {
	display: grid;
	gap: 1em;
	justify-items: start;
	flex-basis: 0;
	flex-grow: 999;
	min-inline-size: 50%;
}

.form__inner > :last-child {
	// display: flex;
	align-items: flex-end;
	flex-basis: var(--button-width);
	flex-grow: 1;
}

label {
	display: none;
}

.input {
	padding: 0.8em 1.2em;
	width: 100%;
	line-height: 2em;
	font-family: inherit;
	font-size: inherit;
	border: range(23, 4) solid var(--tan);
	border-radius: range(28, 4);
	background-color: transparent;
	font-size: range(90, 16);
	color: var(--tan);

	&::placeholder {
		color: var(--tan);
	}

	&:focus {
		outline: range(23, 4) solid var(--tan);
		outline-offset: 0.2em;
	}
}


.button {
	color: var(--red);
	background-color: var(--tan);
	font-family: inherit;
	font-size: inherit;
	border: range(23, 4) solid var(--tan);
	border-radius: range(28, 4);
	padding: 0.8em 1.2em;
	line-height: 2em;
	display: block;
	vertical-align: baseline;
	height: 100%;
	transition: transform 0.2s;
	text-align: center;
	
	&:focus {
		outline: range(23, 4) solid var(--tan);
		outline-offset: 0.2em;
	}
	
	&:active {
		transform: translateY(0.2em);
	}
}

.loader {
	text-align: center;
}

.loader:focus {
	outline: none;
}

.loading {
	aspect-ratio: 1;
	margin-inline: auto;
	width: 3rem;
	border: 5px solid #eaf0f6;
	border-top-color: var(--brand-color);
	animation: spinner 2s linear infinite;
}

.status {
	--status-bg: var(--success-bg);
	--status-text: var(--success-text);
	padding: 1em;
	margin-inline: auto;
	max-width: 50ch;
	border: 2px solid var(--status-text);
	background-color: var(--status-bg);
	color: var(--status-text);
}

.status:focus {
	outline: none;
}

.status:empty {
	display: none;
}

.status[data-inline] {
	margin-inline: 0;
	width: fit-content;
}

.status.error {
	--status-bg: var(--error-bg);
	--status-text: var(--error-text)
}

.status svg {
	width: 1em;
	height: 1em;
	vertical-align: middle;
	display: inline-flex;
	margin-right: 0.5ch;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Maximum aspect ratio */
@media (max-aspect-ratio: 1/1) {
  .grid {
    flex-direction: column;
		align-items: stretch;
  }
	
	.product {
		margin: -2vw -4vw -3vw;
		// height: auto;
		// flex-basis: 100%;
	}
}